<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>HiddenFormFieldDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>serv4</servlet-name>
  	<servlet-class>com.servlet4.Servlet4</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>serv4</servlet-name>
  	<url-pattern>/servlet4</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>serv5</servlet-name>
  	<servlet-class>com.servlet4.Servlet5</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>serv5</servlet-name>
  	<url-pattern>/servlet5</url-pattern>
  </servlet-mapping>
</web-app>